@use "gjs_variables" as gjs_vars;

.#{gjs_vars.$app-prefix}one-bg {
  background-color: gjs_vars.$whiteColor;
}

.#{gjs_vars.$app-prefix}two-color {
  color: gjs_vars.$fontColor;
}
.#{gjs_vars.$app-prefix}blocks-c {
  background-color: #f2f2f2;
}

.#{gjs_vars.$app-prefix}pn-commands,
.#{gjs_vars.$app-prefix}pn-views-container {
  box-shadow: none;
}

.#{gjs_vars.$app-prefix}four-color {
  color: gjs_vars.$accentColor;
}

.#{gjs_vars.$app-prefix}color-warn {
  color: gjs_vars.$accentColor;
  fill: gjs_vars.$accentColor;
  text-decoration: line-through;
}

.#{gjs_vars.$app-prefix}radio-item
  input:checked
  + .#{gjs_vars.$app-prefix}radio-item-label {
  color: gjs_vars.$whiteColor;
  background-color: gjs_vars.$mainColor;
}

.#{gjs_vars.$app-prefix}field-checkbox input:checked + .gjs-chk-icon {
  border-color: gjs_vars.$mainColor;
}

.#{gjs_vars.$app-prefix}field-arrow-d {
  border-top: 4px solid gjs_vars.$mainColor;
}

.#{gjs_vars.$app-prefix}field-arrow-u {
  border-bottom: 4px solid gjs_vars.$mainColor;
}

.#{gjs_vars.$app-prefix}clm-tags ##{gjs_vars.$app-prefix}clm-new {
  color: gjs_vars.$fontColor;
}

.#{gjs_vars.$app-prefix}pn-commands,
.#{gjs_vars.$app-prefix}cv-canvas {
  width: 80%;
}

.#{gjs_vars.$app-prefix}pn-views,
.#{gjs_vars.$app-prefix}pn-views-container {
  width: 20%;
  transition: all 0.2s ease-in;
}

.#{gjs_vars.$app-prefix}pn-options {
  right: 20%;
}

.#{gjs_vars.$app-prefix}field-arrows {
  z-index: 9;
}

.#{gjs_vars.$app-prefix}block.fa::before,
.#{gjs_vars.$app-prefix}block.fa-solid::before,
.#{gjs_vars.$app-prefix}block.fa-regular::before,
.#{gjs_vars.$app-prefix}block.fa-brands::before {
  display: block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 48px;
}
.#{gjs_vars.$app-prefix}block.fa-regular::before,
.#{gjs_vars.$app-prefix}block.fa-brands::before {
  font-weight: 400;
}
.#{gjs_vars.$app-prefix}block.fa-solid::before {
  font-weight: 900;
}

.#{gjs_vars.$app-prefix}drag-helper {
  background-color: gjs_vars.$mainColor !important;
}

.#{gjs_vars.$app-prefix}selected {
  outline: 2px solid gjs_vars.$mainColor !important;
}

.#{gjs_vars.$app-prefix}highlighter {
  outline: 1px solid gjs_vars.$mainColor !important;
}

*.#{gjs_vars.$app-prefix}hover,
div.#{gjs_vars.$app-prefix}hover {
  outline: 1px solid gjs_vars.$mainColor;
}

.#{gjs_vars.$app-prefix}badge,
.#{gjs_vars.$app-prefix}badge {
  background-color: gjs_vars.$mainColor;
}

.#{gjs_vars.$app-prefix}toolbar {
  background-color: gjs_vars.$mainColor;
}

.#{gjs_vars.$app-prefix}toolbar-items {
  text-align: center;
}

.#{gjs_vars.$app-prefix}resizer-h {
  border: 2px solid gjs_vars.$mainColor;
}

.#{gjs_vars.$app-prefix}clm-tags .#{gjs_vars.$app-prefix}sm-title,
.#{gjs_vars.$app-prefix}sm-sector .#{gjs_vars.$app-prefix}sm-title {
  border-top: none;
  background-color: gjs_vars.$whiteColor;
}

.#{gjs_vars.$app-prefix}clm-tags .#{gjs_vars.$app-prefix}clm-tag {
  background-color: gjs_vars.$mainColor;
  border: none;
  box-shadow: none;
  padding: 5px 8px;
  text-shadow: none;
  color: gjs_vars.$whiteColor;
}

.#{gjs_vars.$app-prefix}field {
  color: gjs_vars.$fontColor;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: none;
}

.#{gjs_vars.$app-prefix}btnt.#{gjs_vars.$app-prefix}pn-active,
.#{gjs_vars.$app-prefix}pn-btn.#{gjs_vars.$app-prefix}pn-active {
  box-shadow: none;
}

.#{gjs_vars.$app-prefix}pn-btn:hover {
  color: gjs_vars.$mainColor;
}

.#{gjs_vars.$app-prefix}btnt.#{gjs_vars.$app-prefix}pn-active,
.#{gjs_vars.$app-prefix}color-active,
.#{gjs_vars.$app-prefix}pn-btn.#{gjs_vars.$app-prefix}pn-active,
.#{gjs_vars.$app-prefix}pn-btn:active,
.#{gjs_vars.$app-prefix}block:hover {
  color: gjs_vars.$mainColor;
}

#gjs-rte-toolbar .#{gjs_vars.$app-prefix}rte-btn,
.#{gjs_vars.$app-prefix}btn-prim,
.#{gjs_vars.$app-prefix}btnt,
.#{gjs_vars.$app-prefix}clm-tags
  .#{gjs_vars.$app-prefix}sm-composite.#{gjs_vars.$app-prefix}clm-field,
.#{gjs_vars.$app-prefix}clm-tags
  .#{gjs_vars.$app-prefix}sm-field.#{gjs_vars.$app-prefix}sm-composite,
.#{gjs_vars.$app-prefix}clm-tags .#{gjs_vars.$app-prefix}sm-stack #gjs-sm-add,
.#{gjs_vars.$app-prefix}color-main,
.#{gjs_vars.$app-prefix}mdl-dialog,
.#{gjs_vars.$app-prefix}off-prv,
.#{gjs_vars.$app-prefix}pn-btn,
.#{gjs_vars.$app-prefix}pn-panel,
.#{gjs_vars.$app-prefix}sm-sector
  .#{gjs_vars.$app-prefix}sm-composite.#{gjs_vars.$app-prefix}clm-field,
.#{gjs_vars.$app-prefix}sm-sector
  .#{gjs_vars.$app-prefix}sm-field.#{gjs_vars.$app-prefix}sm-composite,
.#{gjs_vars.$app-prefix}sm-sector .#{gjs_vars.$app-prefix}sm-stack #gjs-sm-add {
  color: gjs_vars.$fontColor;
}

#gjs-rte-toolbar,
.#{gjs_vars.$app-prefix}bg-main,
.#{gjs_vars.$app-prefix}clm-select option,
.#{gjs_vars.$app-prefix}clm-tags .#{gjs_vars.$app-prefix}sm-colorp-c,
.#{gjs_vars.$app-prefix}editor,
.#{gjs_vars.$app-prefix}mdl-dialog,
.#{gjs_vars.$app-prefix}nv-item .#{gjs_vars.$app-prefix}nv-title-c,
.#{gjs_vars.$app-prefix}off-prv,
.#{gjs_vars.$app-prefix}pn-panel,
.#{gjs_vars.$app-prefix}block,
.#{gjs_vars.$app-prefix}select option,
.#{gjs_vars.$app-prefix}field-select option,
.#{gjs_vars.$app-prefix}sm-sector .#{gjs_vars.$app-prefix}sm-colorp-c,
.#{gjs_vars.$app-prefix}sm-select option,
.#{gjs_vars.$app-prefix}sm-unit option,
.sp-container .sp-container button {
  color: gjs_vars.$fontColor;
  background-color: gjs_vars.$whiteColor;
}

/* Hide Toolbar except "to parent" in simple editor */
.simple .#{gjs_vars.$app-prefix}toolbar-item:not(:first-child) {
  display: none;
}

.#{gjs_vars.$app-prefix}ost-toolbar {
  display: none;
  position: absolute;
  background-color: gjs_vars.$mainColor;
  white-space: nowrap;
  color: gjs_vars.$whiteColor;
  z-index: 11;
  bottom: -26px;
  right: 0;
}

.#{gjs_vars.$app-prefix}ost-toolbar.show {
  display: block;
  pointer-events: all;
}

.#{gjs_vars.$app-prefix}ost-toolbar .#{gjs_vars.$app-prefix}ost-toolbar-item {
  cursor: pointer;
  display: inline-block;
  width: 26px;
  height: 26px;
  padding: 5px;
}

.#{gjs_vars.$app-prefix}ost-toolbar
  .#{gjs_vars.$app-prefix}ost-toolbar-item.disable {
  color: gjs_vars.$white30;
  cursor: inherit;
}

.#{gjs_vars.$app-prefix}sm-sector .#{gjs_vars.$app-prefix}sm-field input,
.#{gjs_vars.$app-prefix}clm-tags .#{gjs_vars.$app-prefix}sm-field input,
.#{gjs_vars.$app-prefix}sm-sector .#{gjs_vars.$app-prefix}clm-field input,
.#{gjs_vars.$app-prefix}clm-tags .#{gjs_vars.$app-prefix}clm-field input,
.#{gjs_vars.$app-prefix}sm-sector .#{gjs_vars.$app-prefix}clm-select input,
.#{gjs_vars.$app-prefix}clm-tags .#{gjs_vars.$app-prefix}clm-select input,
.#{gjs_vars.$app-prefix}sm-sector .#{gjs_vars.$app-prefix}sm-field select,
.#{gjs_vars.$app-prefix}clm-tags .#{gjs_vars.$app-prefix}sm-field select,
.#{gjs_vars.$app-prefix}sm-sector .#{gjs_vars.$app-prefix}clm-field select,
.#{gjs_vars.$app-prefix}clm-tags .#{gjs_vars.$app-prefix}clm-field select,
.#{gjs_vars.$app-prefix}sm-sector .#{gjs_vars.$app-prefix}clm-select select,
.#{gjs_vars.$app-prefix}clm-tags .#{gjs_vars.$app-prefix}clm-select select {
  color: gjs_vars.$fontColor;
  background-color: gjs_vars.$whiteColor;
}

.#{gjs_vars.$app-prefix}import-label,
.#{gjs_vars.$app-prefix}export-label {
  margin-bottom: 10px;
  font-size: 13px;
}

.#{gjs_vars.$app-prefix}mdl-dialog .#{gjs_vars.$app-prefix}btn-import {
  margin-top: 10px;
  background-color: gjs_vars.$mainColor;
  color: gjs_vars.$whiteColor;
  padding-inline: 15px;
  margin-left: auto;
}

.CodeMirror {
  border-radius: 3px;
  height: 450px;
  font-family: sans-serif, monospace;
  letter-spacing: 0.3px;
  font-size: 12px;
}

/* Extra */
.#{gjs_vars.$app-prefix}block {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin: 5px 2.5% 5px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  transition: box-shadow, color 0.2s ease 0s;
}

.#{gjs_vars.$app-prefix}block:hover {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.15);
}

#gjs-pn-views-container.#{gjs_vars.$app-prefix}pn-panel {
  padding: 39px 0 0;
}

#gjs-pn-views.#{gjs_vars.$app-prefix}pn-panel {
  padding: 0;
  border: none;
}

#gjs-pn-views .#{gjs_vars.$app-prefix}pn-btn {
  margin: 0;
  height: 40px;
  padding: 10px;
  width: 25%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

#gjs-pn-views .#{gjs_vars.$app-prefix}pn-active {
  color: rgba(255, 255, 255, 0.9);
  border-bottom: 2px solid gjs_vars.$mainColor;
  border-radius: 0;
}

#gjs-pn-devices-c {
  padding-left: 30px;
}

#gjs-pn-options {
  padding-right: 30px;
}

.#{gjs_vars.$app-prefix}pn-options {
  z-index: 4;
}

.#{gjs_vars.$app-prefix}sm-composite .#{gjs_vars.$app-prefix}sm-properties {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#gjs-sm-border-top-left-radius,
#gjs-sm-border-top-right-radius,
#gjs-sm-border-bottom-left-radius,
#gjs-sm-border-bottom-right-radius,
#gjs-sm-margin-top,
#gjs-sm-margin-bottom,
#gjs-sm-margin-right,
#gjs-sm-margin-left,
#gjs-sm-padding-top,
#gjs-sm-padding-bottom,
#gjs-sm-padding-right,
#gjs-sm-padding-left {
  flex: 999 1 60px;
}

#gjs-sm-border-width,
#gjs-sm-border-style,
#gjs-sm-border-color {
  flex: 999 1 80px;
}

#gjs-sm-margin-left,
#gjs-sm-padding-left {
  order: 2;
}

#gjs-sm-margin-right,
#gjs-sm-padding-right {
  order: 3;
}

#gjs-sm-margin-bottom,
#gjs-sm-padding-bottom {
  order: 4;
}

.#{gjs_vars.$app-prefix}field-radio {
  width: 100%;
}

.#{gjs_vars.$app-prefix}field-radio #gjs-sm-input-holder {
  display: flex;
}

.#{gjs_vars.$app-prefix}radio-item {
  flex: 1 0 auto;
  text-align: center;
}

.#{gjs_vars.$app-prefix}sm-sector
  .#{gjs_vars.$app-prefix}sm-property.#{gjs_vars.$app-prefix}sm-list {
  width: 50%;
}

.#{gjs_vars.$app-prefix}mdl-content {
  border-top: none;
}

.#{gjs_vars.$app-prefix}sm-sector
  .#{gjs_vars.$app-prefix}sm-property
  .#{gjs_vars.$app-prefix}sm-layer.#{gjs_vars.$app-prefix}sm-active {
  background-color: rgba(255, 255, 255, 0.09);
}

.#{gjs_vars.$app-prefix}f-button::before {
  content: "B";
}
.#{gjs_vars.$app-prefix}f-divider::before {
  content: "D";
}

.#{gjs_vars.$app-prefix}mdl-dialog-sm {
  width: 300px;
}

.#{gjs_vars.$app-prefix}mdl-dialog form .#{gjs_vars.$app-prefix}sm-property {
  font-size: 12px;
  margin-bottom: 15px;
}

.#{gjs_vars.$app-prefix}mdl-dialog form .#{gjs_vars.$app-prefix}sm-label {
  margin-bottom: 5px;
}

##{gjs_vars.$app-prefix}clm-status-c {
  display: none;
}

.anim-spin {
  animation: 0.5s linear 0s normal none infinite running spin;
}

.form-status {
  float: right;
  font-size: 14px;
}

.text-danger {
  color: #f92929;
}
/* Alert Upload Modal */
#alert-msg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 401px;
  z-index: 990;
}
.alert-msg {
  position: absolute;
  background-color: gjs_vars.$whiteColor;
  top: 50px;
  left: 20%;
  width: 60%;
  min-width: 300px;
  z-index: 999;
  border-radius: 5px;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.5);

  .header {
    background-color: gjs_vars.$accentColor;
    color: gjs_vars.$whiteColor;
    padding: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 50px;
    box-sizing: border-box;

    h3 {
      margin: 0;

      span {
        margin-right: 10px;
      }
    }
  }
  .content {
    padding: 20px;
    box-sizing: border-box;

    .files {
      overflow-y: auto;
      margin: 15px 0;

      ul {
        margin: 5px;
        padding: 0 0 0 15px;

        ::marker {
          content: "\00d7 ";
        }

        li {
          padding-left: 5px;
        }
      }
    }
    strong {
      font-weight: bold;
    }
    button.ok {
      margin: 15px auto;
      display: flex;
      background-color: gjs_vars.$whiteColor;
      padding: 5px 15px;
      text-transform: uppercase;
      color: currentColor;
      border: none;
      font-weight: normal;
      font-size: 1.1rem;
      cursor: pointer;

      &:hover {
        background-color: #dfdfdf;
      }
    }
  }
}

.#{gjs_vars.$app-prefix}mdl-header {
  display: flex;
  padding: 10px 15px;
  line-height: 25px;
}

.#{gjs_vars.$app-prefix}mdl-btn-close {
  position: inherit;
  right: inherit;
  top: inherit;
  margin-left: auto;
  border-color: rgba(59, 89, 152, 0.2);
  line-height: 25px;
  font-size: 2.5rem;
}

/* Alert Ostendis Blocks*/
.#{gjs_vars.$app-prefix}mdl-container.alertModalOstBlocks {
  .#{gjs_vars.$app-prefix}mdl-dialog {
    width: 500px;
    max-width: 100%;
    border-radius: 5px;
  }
  .#{gjs_vars.$app-prefix}mdl-header {
    background-color: gjs_vars.$accentColor;
    color: gjs_vars.$whiteColor;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
  }
  .#{gjs_vars.$app-prefix}mdl-btn-close {
    color: gjs_vars.$whiteColor;
  }
  .#{gjs_vars.$app-prefix}mdl-content {
    padding: 20px;
  }
  button.ok {
    margin: 15px auto;
    display: flex;
    background-color: gjs_vars.$whiteColor;
    padding: 5px 15px;
    text-transform: uppercase;
    color: currentColor;
    border: none;
    font-weight: normal;
    font-size: 1.1rem;
    cursor: pointer;
  }
  button.ok:hover {
    background-color: #dfdfdf;
  }
}
/* Color Picker */
.#{gjs_vars.$app-prefix}editor-cont .sp-container .sp-choose {
  background: gjs_vars.$mainColor;
  border-color: gjs_vars.$mainColor;
  color: gjs_vars.$whiteColor;
  border-radius: 0;
}
.#{gjs_vars.$app-prefix}editor-cont .sp-container .sp-choose:hover,
.#{gjs_vars.$app-prefix}editor-cont .sp-container .sp-choose:active {
  background: gjs_vars.$mainColor;
  border-color: gjs_vars.$mainColor;
  color: gjs_vars.$fontColor;
}
/* Traits */
.#{gjs_vars.$app-prefix}trt-trait {
  padding: 10px;
  flex-wrap: wrap;

  .#{gjs_vars.$app-prefix}label-wrp {
    width: 100%;
  }
}
/* Ostendis Block Traits */
.#{gjs_vars.$app-prefix}select-option-ok,
.#{gjs_vars.$app-prefix}select-option-ok:checked {
  background-color: rgb(185, 255, 178);
  color: rgb(0, 100, 0);
}
.#{gjs_vars.$app-prefix}select-option-nok,
.#{gjs_vars.$app-prefix}select-option-nok:checked {
  background-color: rgb(255, 179, 179);
  color: rgb(104, 0, 0);
}
/* Scale Trait Color Picker */
.#{gjs_vars.$app-prefix}trt-traits .sp-container {
  top: 30px !important;
  left: -200px !important;
}
/* animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
